﻿
@{
    ViewBag.Title = "Login";
}



<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <h2>Login</h2>
            <h4>Use a local account to log in.</h4>
            <hr />

            <form action="/Form/Login" method="post">
                Email   :<input type="text" name="email" id="email" /></br></br>


                Password: <input type="password" name="password" id="password" /></br>
                </br>


                <input type="submit" id="submit" value="Login" />
                <p>
                    @ViewBag.Message
                </p>
               
            </form>

        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            if ($("#email").val() == "")
                alert("Username cannot be empty!!!!!");
            else if ($("#password").val() == "")
                alert("Password cannot be empty!!");

            else {
                $.ajax({
                    type: "POST",
                    url: "/Home/Login",
                    contentType: "application/json; charset=utf-8",
                    data: '{"email":"' + $("#email").val() + '","password":"' + $("#password").val() + '"}',
                    dataType: "html",
                    success: function (result, status, xhr) {
                        $("#dataDiv").html(result);
                    },
                    error: function (xhr, status, error) {
                        $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
            return false;
        });
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}