﻿
@{
    ViewBag.Title = "Terminal";
}

<h2>Terminal</h2>
<style>
    textarea {
        width:700px;
        height:700px;
    }
</style>

<form action="/Form/terminal" method="post">
<textarea name="terminal" id="terminal">
Need background colors on your text box?


</textarea>


   

